<h1><%= @url.link.split(".").second.capitalize %></h1>

<h4>Última atualização: <%=datahora_br(@ultima_atualizacao)%></h4>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Tag</th>
      <th class="quantidade">Quantidade</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% @url.tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td class="quantidade"><%= tag.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Atualizar", edit_url_path(@url), class: "btn btn-primary" %>
<%= link_to "Excluir", url_path(@url), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Tem certeza?"} %>